<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [1]:
import csv, sqlite3,pandas as pd

con = sqlite3.connect("FinalDB.db")
cur = con.cursor()

Load the SQL magic module

In [2]:
%load_ext sql

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [3]:
chicago_census_data_df=pd.read_csv('https://data.cityofchicago.org/resource/kn9c-c2s2.csv')
chicago_census_data_df.head()

,ca,community_area_name,percent_of_housing_crowded,percent_households_below_poverty,percent_aged_16_unemployed,percent_aged_25_without_high_school_diploma,percent_aged_under_18_or_over_64,per_capita_income_,hardship_index
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [4]:
chicago_public_schools_df=pd.read_csv('https://data.cityofchicago.org/resource/9xs2-f89t.csv')
chicago_public_schools_df.head()

,school_id,name_of_school,elementary_or_high_school,street_address,city,state,zip_code,phone_number,link_,network_manager,...,rcdts_code,x_coordinate,y_coordinate,latitude,longitude,community_area_number,community_area_name,ward,police_district,location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,150000000000000,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,150000000000000,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,150000000000000,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,150000000000000,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"

In [5]:
chicago_crime_data_df=pd.read_csv('https://data.cityofchicago.org/resource/ijzp-q8t2.csv')
chicago_crime_data_df.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,13320112,JG555921,2023-12-21T00:00:00.000,045XX N MAPLEWOOD AVE,0920,MOTOR VEHICLE THEFT,ATTEMPT - AUTOMOBILE,STREET,False,False,...,47,4,07,NaN,NaN,2023,2023-12-28T15:42:00.000,NaN,NaN,NaN
1,13317136,JG552469,2023-12-21T00:00:00.000,005XX N MICHIGAN AVE,0460,BATTERY,SIMPLE,RESTAURANT,False,False,...,42,8,08B,1177348.0,1903717.0,2023,2023-12-28T15:42:00.000,41.891134,-87.624135,"\n, \n(41.891133566, -87.624134682)"
2,13319536,JG555000,2023-12-21T00:00:00.000,065XX S KEELER AVE,1122,DECEPTIVE PRACTICE,COUNTERFEIT CHECK,RESIDENCE,False,False,...,13,65,10,1149499.0,1860834.0,2023,2023-12-28T15:42:00.000,41.774043,-87.727521,"\n, \n(41.774042937, -87.727521475)"
3,13314962,JG549515,2023-12-21T00:00:00.000,070XX N GLENWOOD AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,49,1,07,1165544.0,1946906.0,2023,2023-12-28T15:42:00.000,42.009906,-87.666250,"\n, \n(42.009905706, -87.666250231)"
4,13316357,JG551412,2023-12-21T00:00:00.000,058XX S SPAULDING AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,True,...,14,63,11,1155383.0,1865684.0,2023,2023-12-28T15:42:00.000,41.787236,-87.705822,"\n, \n(41.787236293, -87.70582189)"

Establish a connection between SQL magic module and the database `FinalDB.db`

In [6]:
%sql sqlite:///FinalDB.db

In [7]:
# Convert tables onto SQL format using pandas

try:

    chicago_census_data_df.to_sql("chicago_census_data", con, if_exists='replace', index=False,method="multi")
    chicago_public_schools_df.to_sql("chicago_public_schools", con, if_exists='replace', index=False,method="multi")
    chicago_crime_data_df.to_sql("chicago_crime_data", con, if_exists='replace', index=False,method="multi")
    print("Table(s) converted onto SQL format successfully")

except Exception as e:
    print(e)

Table(s) converted onto SQL format successfully

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [25]:
%sql select count(id) from chicago_crime_data;

 * sqlite:///FinalDB.db
Done.

[(1000,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [9]:
%sql select ca,community_area_name,per_capita_income_ from chicago_census_data where per_capita_income_<11000;

 * sqlite:///FinalDB.db
Done.

[(26.0, 'West Garfield Park', 10934),
 (30.0, 'South Lawndale', 10402),
 (37.0, 'Fuller Park', 10432),
 (54.0, 'Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [10]:
%sql select id,case_number,description from chicago_crime_data where description like '%MINOR%'

 * sqlite:///FinalDB.db
Done.

[(13315281, 'JG549959', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13314416, 'JG548963', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13314373, 'JG548917', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13314380, 'JG548903', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13314105, 'JG548432', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13313650, 'JG548028', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13313702, 'JG548074', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13313446, 'JG547745', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13313320, 'JG547652', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13313310, 'JG547597', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [11]:
%sql select id,case_number,primary_type, description from chicago_crime_data \
where description like '%CHILD%'

 * sqlite:///FinalDB.db
Done.

[(13315124, 'JG548674', 'OFFENSE INVOLVING CHILDREN', 'ENDANGERING LIFE / HEALTH OF CHILD'),
 (13314999, 'JG549527', 'OFFENSE INVOLVING CHILDREN', 'CHILD ABUSE'),
 (13314984, 'JG549735', 'OFFENSE INVOLVING CHILDREN', 'CHILD ABUSE'),
 (13321073, 'JG556505', 'OFFENSE INVOLVING CHILDREN', 'CHILD ABUSE'),
 (13315015, 'JG549581', 'OFFENSE INVOLVING CHILDREN', 'CHILD ABUSE')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [13]:
%sql select id,case_number,primary_type,description,location_description\
from chicago_crime_data where location_description like '%SCHOOL%'\
group by primary_type;

 * sqlite:///FinalDB.db
Done.

[(13314843, 'JG549482', 'ASSAULT', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 (13314128, 'JG548573', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC BUILDING'),
 (13314032, 'JG548574', 'CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL - PRIVATE GROUNDS'),
 (13313647, 'JG548099', 'MOTOR VEHICLE THEFT', 'ATTEMPT - AUTOMOBILE', 'SCHOOL - PUBLIC GROUNDS'),
 (13314999, 'JG549527', 'OFFENSE INVOLVING CHILDREN', 'CHILD ABUSE', 'SCHOOL - PUBLIC GROUNDS'),
 (13314870, 'JG549192', 'OTHER OFFENSE', 'TELEPHONE THREAT', 'SCHOOL - PUBLIC BUILDING'),
 (13314545, 'JG549150', 'PUBLIC PEACE VIOLATION', 'OTHER VIOLATION', 'SCHOOL - PUBLIC GROUNDS'),
 (13315216, 'JG549072', 'THEFT', 'FROM BUILDING', 'SCHOOL - PUBLIC BUILDING')]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [24]:
%%sql
select elementary_or_high_school,
avg(safety_score) as avg_per_school_type,
( select avg(safety_score) from chicago_public_schools) as overall_avg
from chicago_public_schools
group by elementary_or_high_school;

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557, 49.50487329434698),
 ('HS', 49.62352941176471, 49.50487329434698),
 ('MS', 48.0, 49.50487329434698)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [15]:
%sql select ca,community_area_name,percent_households_below_poverty from chicago_census_data\
order by percent_households_below_poverty desc limit 5;

 * sqlite:///FinalDB.db
Done.

[(54.0, 'Riverdale', 56.5),
 (37.0, 'Fuller Park', 51.2),
 (68.0, 'Englewood', 46.6),
 (29.0, 'North Lawndale', 43.1),
 (27.0, 'East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [16]:
%%sql
SELECT community_area ,COUNT(community_area) AS FREQUENCY
FROM chicago_crime_data 
GROUP BY community_area
ORDER BY COUNT(community_area) DESC
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25, 58)]


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [17]:
%sql select ca,community_area_name,hardship_index from chicago_census_data \
where hardship_index=(select max(hardship_index) from chicago_census_data)

 * sqlite:///FinalDB.db
Done.

[(54.0, 'Riverdale', 98.0)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [18]:
%%sql
select c1.community_area,c2.community_area_name
,count(*) as number_of_crimes
from chicago_crime_data c1, chicago_census_data c2
where c1.community_area=c2.ca
group by c1.community_area
order by number_of_crimes desc limit 1;

 * sqlite:///FinalDB.db
Done.

[(25, 'Austin', 58)]

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>