# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a Jupyter Notebook
- Create markdown cell with title of the notebook
- Create a markdown cell for an introduction
- Create a markdown cell to list data science languages
- Create a markdown cell to list data science libraries

### Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Java

### Some of the commonly used libraries used by Data Scientists include:
1. keras
2. pytorch
3. tensorflow
4. ggplot

In [2]:
%%html
<style>
table {float:left}
</style>


| Data Science Tools |
| :------------------ |
| RStudio            |
| Apache Spark       |
| TensorFlow         |
| Apache Hadoop      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60.
i = float(input('mins: '))
print(f'{i/60} hours')

mins: 200
3.3333333333333335 hours

## Author
Amir Wael